.profile-card {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #9d9696;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out;
}
.logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.profile-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
}
