.wrapper{
    height:100vh;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conatiner{
    width:300px;
    height:450px;
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgb(109, 108, 108);
}
.flexmain{
    width:100%;
    height:10%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 25px;
    font-weight: bold;
    border-radius:10px ;
}
.gridmain{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 20px;
}
.number{
    display: flex;
    width:50px;
    height: 50px;
    background-color: rgb(32, 232, 222);
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(109, 108, 108);
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}